doctype
html(lang='ru')
  include includes/head
  body
    include includes/header
    include includes/banner
    include includes/features
    include includes/catalog
    include includes/calltoaction--primary
    include includes/benefits    
    include includes/footer
