// _calltoaction--third.scss
.l-callToAction--third {
  background-color: #eb5a32;
  &__title {
    font-family: $gnuolane;
    font-size: 60px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
  &__text {
    font-family: $baseFont;
    font-size: 30px;
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    color: #fefefe;
    strong {
      font-family: $boldFont;
    }
  }
  &__link {
    font-family: $baseFont;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    text-decoration: underline;
    color: #ffa282;
  }
}
