// _calltoaction--third.scss
.l-callToAction--third {
  padding-bottom: 66px;

  background-color: #eb5a32;
  
  &__row {
    @include row();
  }
  &__title {
    margin-top: 69px;
    margin-bottom: 24px;

    font-family: $gnuolane;
    font-size: 60px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
  &__text {
    lost-column: 10/12;
    lost-move: 1/12;
    margin-bottom: 69px;

    font-family: $baseFont;
    font-size: 30px;
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    color: #fefefe;
    strong {
      font-family: $boldFont;
    }
  }
  &__form {
    lost-utility: clearfix;
  }
  &__input {
    lost-column: 1/3;
    padding: 10px 0;
  }
  &__button {
    lost-column: 1/3;
    margin-bottom: 17px;
  }

  &__link {
    float: right;
    font-family: $baseFont;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    text-decoration: underline;
    color: #ffa282;
  }
}
