// _calltoaction--primary
.l-callToAction--primary {
  background: url('images/cta-bg-min.jpg') center center no-repeat;
  text-align: center;
  padding-bottom: 67px;
  &__row {
    lost-center: $container 20px;
  }
  &__title {
    margin-top: 77px;
    margin-bottom: 32px;

    font-family: $gnuolane;
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
  }
  &__text {
    margin-bottom: 77px;

    font-family: $baseFont;
    font-size: 30px;
    font-weight: normal;
    line-height: 45px;
    color: #fff;
  }
  &__button {
    margin-bottom: 17px;
  }
  &__link {
    font-family: $baseFont;
    font-size: 14px;
    font-weight: normal;
    color: #5c5c6e;
  }
}
