// _catalog.scss
.l-catalog {
  // height: 1525px;
  &__row {

  }
  &__title {
    margin-top: 76px;
    font-size: 60px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: #000;
  }
  &__subtitle {
    font-family: $gnuolane;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: #000;
  }
  &__list {
    @include listUnstyled;
    lost-center: $container 20px;
    &--secondary {
      @include listUnstyled;
      lost-center: $container 20px;
    }
  }
  &__item {
    lost-column: 1/3;
    &--secondary {
      lost-column: 1/4;
    }
  }

}
