// _header.scss
@lost gutter 20px;

.l-header {
  lost-center: $container 20px;
  &__row {
    lost-utility: clearfix;
  }
  &__logo {
    text-align: center;
    lost-column: 4/12;
    lost-offset: 4/12;
  }
  &__contact {
    @include listUnstyled;
    lost-column: 4/12;

  }
  &__phone {
    a {
      font-family: $boldFont;
      font-size: $subtitle--secondary;
      color: $baseColor;
      text-decoration: none;
    }
  }
  &__email {
    a {
      font-family: $baseFont;
      color: $baseColor;
      font-size: $smallSize;
      opacity: .5;
      text-decoration: none;
    }
  }
}
