// _header.scss
@lost gutter 20px;

.l-header {
  min-height: 119px;
  padding-top: 23px;
  &__row {
    @include row();
  }
  &__logo {
    text-align: center;
    lost-column: 4/12;
    lost-offset: 4/12;
    @include tablet {
      lost-column: 1/2;
      lost-offset: 0;
    }
  }
  &__contact {
    padding-top: 12px;
    text-align: right;
    @include listUnstyled;
    lost-column: 4/12;
    @include tablet {
      lost-column: 1/2;
    }
  }
  &__phone {
    a {
      font-family: $boldFont;
      font-size: $subtitle--secondary;
      color: $baseColor;
      text-decoration: none;
    }
  }
  &__email {
    a {
      font-family: $baseFont;
      color: $baseColor;
      font-size: $smallSize;
      opacity: .5;
      text-decoration: none;
    }
  }
}
