// _payment.scss
.l-payment {
  padding-top: 32px;
  padding-bottom: 94px;
  &__row {
    @include row();
  }
  &__list {
    @include listUnstyled;
    lost-utility: clearfix;
    margin-bottom: 10px;
    &--secondary {
      @include listUnstyled;
      lost-utility: clearfix;
    }
  }
  &__item {
    text-align: center;
    lost-column: 1/6;
    &--secondary {
      text-align: center;
      lost-column: 1/4;
    }
  }
  &__title {
    margin-top: 38px;
    margin-bottom: 65px;

    font-family: $gnuolane;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: #979797;
    lost-column: 1/1;
  }
  &__icon {
    margin-bottom: 25px;
    &--secondary {
      margin-bottom: 18px;
    }
  }
  &__text {
    font-family: $baseFont;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
    color: #707070;
    &--rocketbank {
      font-family: $boldFont;
      font-size: 18px;
      font-weight: normal;
      text-transform: uppercase;
      text-align: left;
      text-decoration: underline;
      color: #707070;
    }
    &--secondary {
      font-family: $baseFont;
      font-size: 18px;
      font-weight: normal;
      text-transform: uppercase;
      text-align: center;
      color: #595959;
      strong {
        font-family: $boldFont;
      }
    }
  }
  &__smallText {
    font-family: $baseFont;
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
    text-align: left;
    text-decoration: none;
    color: #707070;
  }
}
