// _testimonial.scss
.l-testimonial {
  padding-top: 64px;
  padding-bottom: 77px;
  &__row {
    @include row();
  }
  &__title {
    margin-bottom: 71px;

    font-family: $gnuolane;
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: #191919;
  }
  &__text {
    margin-bottom: 36px;

    font-family: $baseFont;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #353535;
  }
  &__highlight {
    font-family: $boldFont;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    color: #e54827;
    &:nth-of-type(1) {
      padding-left: 40px;
      background: url('images/icons/finger-min.png') left center no-repeat;
    }
    &:nth-of-type(2) {
      padding-right: 40px;
      background: url('images/icons/finger-min.png') right center no-repeat;
    }
  }
  &__vkWidget {
    padding-left: 40px;
  }
}
