// _testimonial.scss
.l-testimonial {
  padding-top: 64px;
  &__row {
    @include row();
  }
  &__title {
    margin-bottom: 71px;

    font-family: $gnuolane;
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: #191919;
  }
  &__text {
    font-family: $baseFont;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #353535;
    &::before {
      content: url('images/icons/finger.png');
    }
    &::after {
      content: url('images/icons/finger.png');
    }
  }
  &__highlight {
    font-family: $boldFont;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    color: #e54827;
  }
}
