// _video.scss
.l-video {
  background: url('images/video__bg-min.jpg') center center no-repeat;
  // background-color: #e95833;
  padding-top: 65px;
  padding-bottom: 104px;

  &__row {
    @include row;
  }
  &__item {
    lost-column: 5/12;
    @include tablet {
      lost-column: 4/9;
    }
  }
  &__title {
    margin-bottom: 17px;

    font-family: $gnuolane;
    font-size: 60px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color: #fff;
  }
  &__subtitle {
    font-family: $gnuolane;
    font-size: 30px;
    font-weight: normal;
    line-height: 34px;
    color: #fff;
  }
  &__player {
    lost-column: 7/12;

    padding-top: 14px;

    @include tablet {
      lost-column: 5/9;
    }
  }
  &__playerBg {
    width: 540px;
    height: 310px;

    padding: 11px;

    background: #fff;

    border-style: solid;
    border-width: 1px;
    border-color: rgb(233, 92, 55);
    box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.36);
    @include tablet {
      width: 380px;
      height: 225px;
    }
  }
}
