// _video.scss
.l-video {
  background: url('images/video__bg-min.jpg') center center no-repeat;
  // background-color: #e95833;
  &__row {
    @include row;
  }
  &__item {
    lost-column: 5/12;
  }
  &__title {
    font-family: $gnuolane;
    font-size: 60px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
  }
  &__subtitle {
    font-family: $gnuolane;
    font-size: 30px;
    font-weight: normal;
    line-height: 34px;
    color: #fff;
  }
  &__player {
    lost-column: 7/12;
  }
}
