// _config.scss

// Font families
$baseFont: 'PT Sans Regular', sans-serif;
$boldFont: 'pt-sans-bold', sans-serif;
$gnuolane: 'Gnuolane', sans-serif;

// Font-sizes
$title--price: 75px;
$title--section: 60px;
$title--secondary: 50px;
$subtitle--primary: 40px;
$subtitle--secondary: 30px;
$title--small: 20px;
$subtitle--small: 18px;
$text: 16px;
$smallSize: 14px;
$text--smallest: 13px;

// Margins
$section: 100px;
$section2: 80px;
$section3: 68.84px;
$section4: 50px;
$textMargin: 40px;
$textMargin2: 30px;
$textMargin3: 10px;

// Colors
$baseColor: #000;
$baseInverted: #fff;
$highlight: #e95631;
$text--secondary: #808080;
