// _config.scss

// Font-sizes
$title--price: 75px;
$title--section: 60px;
$title--secondary: 50px;
$subtitle--primary: 40px;
$subtitle--secondary: 30px;
$title--small: 20px;
$subtitle--small: 18px;
$text: 16px;
$text--small: 14px;
$text--smallest: 13px;

// Margins
$section: 100px;
$section2: 80px;
$section3: 68.84px;
$section4: 50px;
$textMargin: 40px;
$textMargin2: 30px;
$textMargin3: 10px;

// Colors
$text--base: #000;
$text--secondary: #808080;
