// _config.scss

// Grid settings
$container: 980px;

// Font families
$baseFont: 'PTSansRegular', sans-serif;
$boldFont: 'PTSansBold', sans-serif;
$italic: 'PTSansItalic', sans-serif;
$gnuolane: 'Gnuolane', sans-serif;
$iris:'Iris', sans-serif;


// Colors
$baseColor: #000;
$baseInverted: #fff;
$highlight: #e95631;
$text--secondary: #808080;
