// _fonts.scss
@font-face {
	font-family: 'PTSansRegular';
	src: url('fonts/pt-regular/PTS55F_W.eot');
	src:
	     url('fonts/pt-regular/PTS55F_W.eot?#iefix') format('embedded-opentype'),
	     url('fonts/pt-regular/PTS55F_W.woff') format('woff'),
	     url('fonts/pt-regular/PTS55F_W.ttf') format('truetype'),
	     url('fonts/pt-regular/PTS55F_W.svg#PTSans-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSansBold';
	src: url('fonts/pt-bold/PTS75F_W.eot');
	src:
	     url('fonts/pt-bold/PTS75F_W.eot?#iefix') format('embedded-opentype'),
	     url('fonts/pt-bold/PTS75F_W.woff') format('woff'),
	     url('fonts/pt-bold/PTS75F_W.ttf') format('truetype'),
	     url('fonts/pt-bold/PTS75F_W.svg#PTSans-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSansItalic';
	src: url('fonts/pt-italic/PTS56F_W.eot');
	src:
	     url('fonts/pt-italic/PTS56F_W.eot?#iefix') format('embedded-opentype'),
	     url('fonts/pt-italic/PTS56F_W.woff') format('woff'),
	     url('fonts/pt-italic/PTS56F_W.ttf') format('truetype'),
	     url('fonts/pt-italic/PTS56F_W.svg#PTSans-Italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSansNarrow';
	src: url('fonts/pt-narrow/PTN57F_W.eot');
	src:
	     url('fonts/pt-narrow/PTN57F_W.eot?#iefix') format('embedded-opentype'),
	     url('fonts/pt-narrow/PTN57F_W.woff') format('woff'),
	     url('fonts/pt-narrow/PTN57F_W.ttf') format('truetype'),
	     url('fonts/pt-narrow/PTN57F_W.svg#PTSans-Narrow') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'Gnuolane';
  // src: url('fonts/gnuolane_free_cyrillic-webfont.eot');
  // src: url('fonts/gnuolane_free_cyrillic-webfont.woff2') format('woff2'),
  // url('fonts/gnuolane_free_cyrillic-webfont.woff') format('woff'),
  src: url('fonts/gnuolane-free-cyrillic.ttf') format('truetype'),
  // url('fonts/gnuolane_free_cyrillic-webfont.svg') format('svg');
}
@font-face {
  font-family: 'Iris';
  src: url('fonts/iris-normal.ttf') format('truetype');
}
// @font-face {
//   font-family: 'Bebas';
//   // src: url('fonts/bebasneue_regular-webfont.eot');
//   // src: url('fonts/bebasneue_regular-webfont.woff2') format('woff2'),
//   //  url('fonts/bebasneue_regular-webfont.woff') format('woff'),
//    src: url('fonts/bebasNeue-Regular.ttf') format('truetype'),
//   //  url('fonts/bebasneue_regular-webfont.svg') format('svg');
// }
