// _logo.scss
.m-logo {
  &--header {
    text-decoration: none;
    color: $baseColor;
    font-size: 15px;
  }
  &__image {
    // text-align: center;
  }
  &__text {
    &--footer {
      font-family: $baseFont;
      font-size: 14px;
      font-weight: normal;
      text-transform: none;
      text-decoration: none;
      color: #fff;
      opacity: .5;
    }
  }
}
