// _logo.scss
.m-logo {
  &--header {
    font-family: $baseFont;
    text-decoration: none;
    color: $baseColor;
    font-size: 15px;
    @include tablet {
      font-size: 13px;
    }
  }
  &__image {

    &--footer {
      position: relative;
      left: 90px;

      margin-bottom: 19px;
    }
  }
  &__text {
    &--footer {
      padding-left: 15px;

      font-family: $baseFont;
      font-size: 14px;
      font-weight: normal;
      text-transform: none;
      text-decoration: none;
      color: #fff;
      opacity: .5;
    }
  }
}
