//- banner.jade
section.l-banner(role="banner")
  h1.l-banner__title Часы NIKE+ SportWatch GPS со скидкой 45%
  span.l-banner__price 8 499 руб.
  span.l-banner__discount вместо 16 500 руб.
  .m-counter
    h5.m-counter__title До конца акции осталось:
    a.m-button.m-button--primary(href="#") Заказать сейчас
