//- banner.jade
section.l-banner
  .l-banner__row
    h1.l-banner__title Часы NIKE+ SportWatch GPS со скидкой 45%
    span.l-banner__price 8 499 руб.
    span.l-banner__discount вместо 16 500 руб.
    .l-banner__timer.m-timer
      h5.m-timer__title До конца акции осталось:
    .l-banner__button
      a.m-button.m-button--primary(href="#") Заказать сейчас
