//- benefits.jade
section.l-benefits
  .l-benefits__row
    h3.l-benefits__title Nike+ Sportwatch 
      abbr(title="Global Positioning System") GPS
      br
      | для тех, кто выбирает активный образ жизни
    ul.l-benefits__list
      li.l-benefits__item
        h4.l-benefits__subtitle Устройство и дизайн
        p.l-benefits__text Nike+ SportWatch GPS представляет собой спортивные наручные часы с дисплеем и широким ремешком. Материал корпуса изготовлен из износоустойчивого пластика. В пряжку ремешка встроен USB-порт, через который часы подключаются к компьютеру для синхронизации данных. Тачскрин-дисплей позволяет управлять настройками часов и просматривать имеющиеся данные о тренировках. Дисплей оснащен подсветкой, благодаря чему часами можно пользоваться в темное время суток. На боковой панели имеются три кнопки: две чёрные кнопки навигации и цветная кнопка управления режимом тренировки. Корпус надёжно защищён от воды, с часами можно бегать в дождь, но с ними не рекомендуется плавать. Nike+ SportWatch GPS можно использовать как обычные часы для ежедневного ношения.
      li.l-benefits__item
        img.l-benefits__image.align-right(src="images/Nike-sportwatch-gps-white-benefits-min.jpg", alt="Nike Smartwatch")
    ul.l-benefits__list
      li.l-benefits__item
        img.l-benefits__image--2.align-left(src="images/running-woman-min.jpg", alt="Фото бегущей женщины")
      li.l-benefits__item
        h4.l-benefits__subtitle.text-right Тренируйся эффективно
        p.l-benefits__text.text-right Внутри часов имеется встроенный акселерометр и GPS-датчик. Во время тренировки SportWatch собирают следующие данные: пройденное расстояние, количество шагов, потраченные калории, максимальную и минимальную скорость бега, детальный маршрут движения, количество кругов, если вы бегаете по одинаковому маршруту, а также специальную метрику Nike - NikeFuel. Для активации режима тренировки необходимо нажать на боковую кнопку управления и дождаться установления соединения со спутником GPS. Nike+ SportWatch GPS можно использовать совместно с датчиком сердцебиения, что позволяет также отслеживать данные о вашем седечном ритме во время тренировки.
    ul.l-benefits__list
      li.l-benefits__item
        h4.l-benefits__subtitle Планируй свои победы
        p.l-benefits__text Собранные данные нужно синхронизировать со специализиованным порталом Nike+. Предварительно необходимо создать на портале Nike+ персональную учётную запись. Для синхронизации данных нужно использовать персональный компьютер. Для работы с SportWatch на ПК используется приложение Nike+ (доступно для Windows и Mac). Для синхронизации нужно подключить SportWatch к компьютеру. USB-порт встроен в застёжку SportWatch. Портал позволяет анализировать собранные данные с часов, соревноваться с друзьями и делиться результатами, отслеживать ваш прогресс и эффективно планировать будущие тренировки.
      li.l-benefits__item  
        img.l-benefits__image--3(src="images/nike-sportwatch-app-min.jpg", alt="Nike Smartwatch")
    h5.l-benefits__smallTitle Этот удобный гаджет можно настроить так, чтобы дисплей показывал только важную для вас информацию
