//- benefits.jade
section.l-benefits
  .l-benefits__row
    h3.l-benefits__title Nike+ Sportwatch 
      abbr(title="Global Positioning System") GPS
      | для тех, кто выбирает активный образ жизни
    ul.l-benefits__list
      li.l-benefits__item
        h4.l-benefits__subtitle Устройство и дизайн
        p.l-benefits__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      li.l-benefits__item
        img.l-benefits__image.align-right(src="images/nike--features.jpg", alt="Nike Smartwatch")
    ul.l-benefits__list
      li.l-benefits__item
        img.l-benefits__image.align-left(src="images/features__runningWoman.jpg", alt="Фото бегущей женщины")
      li.l-benefits__item
        h4.l-benefits__subtitle Тренируйся эффективно
        p.l-benefits__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    ul.l-benefits__list
      li.l-benefits__item
        h4.l-benefits__subtitle Планируй свои победы
        p.l-benefits__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      li.l-benefits__item  
        img.l-benefits__image.align-right(src="images/features__appWindow.jpg", alt="Nike Smartwatch")
    h5.l-benefits__smallTitle Этот удобный гаджет можно настроить так, чтобы дисплей показывал только важную для вас информацию
      
