section.l-callToAction--primary
  h3.l-callToAction--primary__title Узнайте подробнее
  p.l-callToAction--primary__text Наши менеджеры проконсультируют Вас по любым вопросам, касающимся ассортимента!
  a.m-button.m-button--primary(href="#") Заказать звонок
  a.l-callToAction--primary__link(href="#") Политика конфиденциальности
