section.l-callToAction--secondary
  .l-callToAction--secondary__row
    h4.l-callToAction--secondary__title Закажите сейчас часы NIKE+ SportWatch GPS
    h3.l-callToAction--secondary__subtitle и получите скидку 45%
    a.m-button.m-button--primary.align-center(href="#") Заказать сейчас
