section.l-callToAction--secondary
  h4.l-callToAction__title--secondary Закажите сейчас часы NIKE+ SportWatch GPS
  h3.l-callToAction__subtitle--secondary и получите скидку 45%
  a.m-button--primary(href="#") Заказать сейчас
