section.l-callToAction--primary
  h3.l-callToAction__title--primary Узнайте подробнее
  p.l-callToAction__text--primary Наши менеджеры проконсультируют Вас по любым вопросам, касающимся ассортимента!
  a.m-button--primary(href="#") Заказать звонок
  a.l-callToAction__link--primary(href="#") Политика конфиденциальности
