section.l-callToAction--third
  h3.l-callToAction__title--third Остались вопросы?
  p.l-callToAction__text--third Позвоните нам по телефону 
    strong +7 (916) 195-97-77 
    | или оставьте заявку и мы ответим на Ваши вопросы:
  form.m-form(action="#")
    input.m-form__input(type="text", value="Ваше имя*")
    input.m-form__input(type="text", value="Ваш номер телефона*")
    button.m-button--secondary(name="Заказать звонок") Заказать звонок
  a.l-callToAction__link--third(href="#") Политика конфиденциальности
