//- catalog.jade
section.l-catalog(role="main")
  h2.l-catalog__title Выбери свой цвет
  ul.l-catalog__list
    li.l-catalog__item.m-catalogItem
      img.m-catalogItem__image(src="images/SportWatch-GPS-Black-Volt-Nike-v1.jpg", alt="SportWatch-GPS-Black-Volt-Nike-v1")
      a.m-button.m-button--catalog(href="#") Заказать
      span.m-catalogItem__price за 8 499 Р
    li.l-catalog__item.m-catalogItem
      img.m-catalogItem__image(src="images/Nike_SportWatch_GPS_White_Silver_v1_1.jpg", alt="Nike_SportWatch_GPS_White_Silver_v1_1")
      a.m-button.m-button--catalog(href="#") Заказать
      span.m-catalogItem__price за 8 499 Р
    li.l-catalog__item.m-catalogItem
      img.m-catalogItem__image(src="images/SportWatch-GPS-Black-Volt-Nike-3.jpg", alt="SportWatch-GPS-Black-Volt-Nike-3")
      a.m-button.m-button--catalog(href="#") Заказать
      span.m-catalogItem__price за 8 499 Р
  ul.l-catalog__list
    li.l-catalog__item.m-catalogItem
      img.m-catalogItem__image(src="images/Nike_SportWatch_GPS_Yellow.jpg", alt="Nike_SportWatch_GPS_Yellow")
      a.m-button.m-button--catalog(href="#") Заказать
      span.m-catalogItem__price за 8 499 Р
    li.l-catalog__item.m-catalogItem
      img.m-catalogItem__image(src="images/SportWatch-GPS-Black-Nike-5.jpg", alt="SportWatch-GPS-Black-Nike-5")
      a.m-button.m-button--catalog(href="#") Заказать
      span.m-catalogItem__price за 8 499 Р
    li.l-catalog__item.m-catalogItem
      img.m-catalogItem__image(src="images/TomTom-Nike-SportWatch-GPS-AnthraciteBlueGlow.jpg", alt="TomTom-Nike-SportWatch-GPS-AnthraciteBlueGlow")
      a.m-button.m-button--catalog(href="#") Заказать
      span.m-catalogItem__price за 8 499 Р
  h4.l-catalog__subtitle Дополнительно
  ul.l-catalog__list--secondary
    li.l-catalog__item--secondary.m-catalogItem--secondary
      img.m-catalogItem--secondary__image(src="images/polar.jpg", alt="Сенсор Polar wearlink")
    li.l-catalog__item--secondary  
      p.m-catalogItem--secondary__description Сенсор ЧСС Polar wearlink works with Nike+
      span.m-catalogItem--secondary__price 8 499 Р
      a.m-button.m-button--catalog(href="#") Заказать
    li.l-catalog__item--secondary.m-catalogItem--secondary
      img.m-catalogItem--secondary__image(src="images/nike-go.jpg", alt="Сенсор ЧСС Polar wearlink works with Nike+")
    li.l-catalog__item--secondary  
      p.m-catalogItem--secondary__description Сенсор ЧСС Polar wearlink works with Nike+
      span.m-catalogItem--secondary__price 8 499 Р
      a.m-button.m-button--catalog(href="#") Заказать
