//- catalog.jade
section.l-catalog
  
  h2.l-catalog__title Выбери свой цвет
  //- .l-catalog__list
  .l-catalog__row
    .l-catalog__item.m-catalogItem
      img.m-catalogItem__image(src="images/Nike-sportwatch-gps-black-green-min.jpg", alt="SportWatch-GPS-Black-Volt-Nike-v1")
      a.m-button.m-button--catalog(href="#") Заказать
      span.m-catalogItem__price за 8 499 Р
    .l-catalog__item.m-catalogItem
      img.m-catalogItem__image(src="images/Nike-sportwatch-gps-white-min.jpg", alt="Nike_SportWatch_GPS_White_Silver_v1_1")
      a.m-button.m-button--catalog(href="#") Заказать
      span.m-catalogItem__price за 8 499 Р
    .l-catalog__item.m-catalogItem
      img.m-catalogItem__image(src="images/Nike-sportwatch-gps-black-red-min.jpg", alt="SportWatch-GPS-Black-Volt-Nike-3")
      a.m-button.m-button--catalog(href="#") Заказать
      span.m-catalogItem__price за 8 499 Р
    .l-catalog__item.m-catalogItem
      img.m-catalogItem__image(src="images/Nike-sportwatch-gps-lime-min.jpg", alt="Nike_SportWatch_GPS_Yellow")
      a.m-button.m-button--catalog(href="#") Заказать
      span.m-catalogItem__price за 8 499 Р
    .l-catalog__item.m-catalogItem
      img.m-catalogItem__image(src="images/Nike-sportwatch-gps-black-min.jpg", alt="SportWatch-GPS-Black-Nike-5")
      a.m-button.m-button--catalog(href="#") Заказать
      span.m-catalogItem__price за 8 499 Р
    .l-catalog__item.m-catalogItem
      img.m-catalogItem__image(src="images/Nike-sportwatch-gps-black-blue-min.jpg", alt="TomTom-Nike-SportWatch-GPS-AnthraciteBlueGlow")
      a.m-button.m-button--catalog(href="#") Заказать
      span.m-catalogItem__price за 8 499 Р
//- .l-catalog__row
  //- h4.l-catalog__subtitle Дополнительно
  //- //- ul.l-catalog__list--secondary
  //-   li.l-catalog__item--secondary.m-catalogItem--secondary
  //-     img.m-catalogItem--secondary__image(src="images/polar-wearlink-min.jpg", alt="Сенсор Polar wearlink")
  //-   li.l-catalog__item--secondary  
  //-     p.m-catalogItem--secondary__description Сенсор ЧСС Polar wearlink works with Nike+
  //-     span.m-catalogItem--secondary__price 8 499 Р
  //-     a.m-button.m-button--catalog(href="#") Заказать
  //-   li.l-catalog__item--secondary.m-catalogItem--secondary
  //-     img.m-catalogItem--secondary__image(src="images/polar-wearlink-nike-min.jpg", alt="Сенсор ЧСС Polar wearlink works with Nike+")
  //-   li.l-catalog__item--secondary  
  //-     p.m-catalogItem--secondary__description Сенсор ЧСС Polar wearlink works with Nike+
  //-     span.m-catalogItem--secondary__price 8 499 Р
  //-     a.m-button.m-button--catalog(href="#") Заказать
