section.l-features
  .l-features__row
    h3.l-features__title Что они отслеживают
    ul.l-features__list
      li.l-features__item
        img.l-features__icon(src="images/icons/gps-min.png", alt="GPS")
        p.l-features__text GPS
      li.l-features__item
        img.l-features__icon(src="images/icons/speed-min.png", alt="Тахометр")
        p.l-features__text Темп
      li.l-features__item
        img.l-features__icon(src="images/icons/watch-min.png", alt="Секундомер")
        p.l-features__text Секундомер
      li.l-features__item
        img.l-features__icon(src="images/icons/flame-min.png", alt="Пламя")
        p.l-features__text Калории
      li.l-features__item
        img.l-features__icon(src="images/icons/heart-min.png", alt="Сердце с логотипом Найк")
        p.l-features__text *Счетчик пульса
      li.l-features__item
        img.l-features__icon(src="images/icons/run-min.png", alt="Бегущий человек")
        p.l-features__text Отсчет кругов и интервалов
    p.l-features__small *Требуется передатчик Polar Wearlink+Heart Rate
