section.l-features
  h3.l-features__title Что они отслеживают
  ul.l-features__list
    li.l-features__item
      img.l-features__icon(src="images/icons/gps.png", alt="GPS")
      p.l-features__text GPS
    li.l-features__item
      img.l-features__icon(src="images/icons/speed.png", alt="Тахометр")
      p.l-features__text Темп
    li.l-features__item
      img.l-features__icon(src="images/icons/watch.png", alt="Секундомер")
      p.l-features__text Секундомер
    li.l-features__item
      img.l-features__icon(src="images/icons/flame.png", alt="Пламя")
      p.l-features__text Калории
    li.l-features__item
      img.l-features__icon(src="images/icons/heart.png", alt="Сердце с логотипом Найк")
      p.l-features__text *Счетчик пульса
    li.l-features__item
      img.l-features__icon(src="images/icons/run.png", alt="Бегущий человек")
      p.l-features__text Отсчет кругов и интервалов
  p.l-features__small *Требуется передатчик Polar Wearlink+Heart Rate
