//- footer.jade
footer.l-footer
  .l-footer__top
    .l-footer__logo
      .m-logo--footer
        img.m-logo__image--footer(src="images/icons/nike-logo-grey-min.png", alt="Серый логотип Nike plus")
        p.m-logo__text--footer Официальный дилер
      p.l-footer__title NIKE+ SportWatch GPS
      span.l-footer__subtitle Powered by 
      //- TOMTOM&reg;
    ul.l-footer__contact
      li.l-footer__listItem
        a.l-footer__phone(href="tel:+7-916-195-97-77") +7(916)195-97-77
      li.l-footer__listItem г.Москва, пр-д Стратонавтов, 9, к2
      li.l-footer__listItem
        a.l-footer__email(href="mailto:info@nikesportwatch.ru") info@nikesportwatch.ru
    .l-footer__section
      p.l-footer__social Мы в соцсетях:
      img.align-left(src="images/icons/instagram-logo-min.png", alt="Логотип Инстаграма")
      p.l-footer__instagram @nike.sportwatch
      p.l-footer__instagram &#35;nikesportwatch
  .l-footer__bottom
    .l-footer__bottom--row
      p.l-footer__copyright.align-left &copy; 2015г. Все права защищены
      p.l-footer__companyInfo.align-right ООО"Акар Групп" ОГРН 9701012018
