//- header.jade
section.l-header
  .row(itemscope)
    a.m-logo--header(itemprop="url", href="#")
      img(src="images/nike-logo.png", alt="Логотип Найк").m-logo__image--header
      p.m-logo__text--header Официальный дилер 
        span(itemprop="name") Nike+ SportWatch GPS
    ul.l-header__contact
      li.l-header__phone
        a(href="tel:+7-916-195-97-77") +7 (916) 195-97-77
      li.l-header__email
        a(href="mailto:info@nikesportwatch.ru") info@nikesportwatch.ru
