//- header.jade
.l-header
  .l-header__row(itemscope)
    a.l-header__logo.m-logo--header(itemprop="url", href="#")
      img(src="images/nike-logo-min.png", alt="Логотип Найк").m-logo--header__image
      p.m-logo--header__text Официальный дилер 
        span(itemprop="name") Nike+ SportWatch GPS
    ul.l-header__contact
      li.l-header__phone
        a(href="tel:+7-916-195-97-77") +7 (916)195-97-77
      li.l-header__email
        a(href="mailto:info@nikesportwatch.ru") info@nikesportwatch.ru
