section.l-howWeWork
  h3.l-howWeWork__title Как мы работаем
  ul.l-howWeWork__list
    li.l-howWeWork__item
      img.l-howWeWork__icon(src="images/icons/1_request.png", alt="Иконка с конвертом")
      p.l-howWeWork__text Заполните форму заявки
    li.l-howWeWork__item
      img.l-howWeWork__icon(src="images/icons/2_call.png", alt="Иконка с оператором кол центра")
      p.l-howWeWork__text Мы свяжемся с вами в течении 1 часа
    li.l-howWeWork__item
      img.l-howWeWork__icon(src="images/icons/3_detail.png", alt="Иконка с анкетой")
      p.l-howWeWork__text Уточните детали доставки
  ul.l-howWeWork__list
    li.l-howWeWork__item
      img.l-howWeWork__icon(src="images/icons/4_payment.png", alt="Иконка с кошельком")
      p.l-howWeWork__text Оплатите заказанный вами товар
    li.l-howWeWork__item
      img.l-howWeWork__icon(src="images/icons/5_delivery.png", alt="Иконка с грузовиком")
      p.l-howWeWork__text Мы предоставим товар в обговоренный сроки
        small.l-howWeWork__smallText в любой город РФ и стран СНГ
    li.l-howWeWork__item
      img.l-howWeWork__icon(src="images/icons/6_like.png", alt="Иконка с поднятым вверх большим пальцем руки")
      p.l-howWeWork__text Станьте луче вместе с NIKE+
      
