section.l-payment
  h4.l-payment__title Способы оплаты
  ul.l-payment__list
    li.l-payment__item
      img.l-payment__icon(src="images/icons/bank.png", alt="Иконка с портиком на котором написано банк")
      p.l-payment__text Безналичный расчет
    li.l-payment__item
      img.l-payment__icon(src="images/icons/wallet.png", alt="Иконка с кошельком и деньгами")
      p.l-payment__text Наличными
    li.l-payment__item
      img.l-payment__icon(src="images/icons/cards.png", alt="Иконка с логотипами Visa и Mastercard")
      p.l-payment__text Картой банка
    li.l-payment__item
      img.l-payment__icon(src="images/icons/yandex-money.png", alt="Логотип яндекс.деньги")
      p.l-payment__text Яндекс деньги
    li.l-payment__item
      img.l-payment__icon(src="images/icons/qiwi-logo-small.png", alt="Логотип QIWI")
      p.l-payment__text QIWI кошелёк
    li.l-payment__item
      img.l-payment__icon(src="images/icons/rocketbank-logo.png", alt="Логотип Рокетбанка")
      p.l-payment__text Рокетбанк
        small.l-payment__smallText Оплата без комиссии с любой карты
  h4.l-payment__title Реквизиты для оплаты
  ul.l-payment__list--secondary
    li.l-payment__item--secondary
      img.l-payment__icon--secondary(src="images/icons/sberbank-logo.png", alt="Логотип Сбербанка")
      p.l-payment__text--secondary 
        strong Сбербанк
        | 5469-3800-3208-3973
    li.l-payment__item--secondary
      img.l-payment__icon--secondary(src="images/icons/tinkoff.png", alt="Логотип Тинькофф банка")
      p.l-payment__text--secondary
        strong Тинькофф банк
        | 5213-2437-3000-4890
    li.l-payment__item--secondary
      img.l-payment__icon--secondary(src="images/icons/qiwi.png", alt="Логотип QIWI")
      p.l-payment__text--secondary
        strong QIWI кошелек
        | +79161959777
    li.l-payment__item--secondary
      img.l-payment__icon--secondary(src="images/icons/yandex-money.png", alt="Логотип яндекс.денег")
      p.l-payment__text--secondary
        strong Яндекс деньги
        | 410012143034959
