section.l-testimonial
  h3.l-testimonial__title Отзывы наших клиентов
  .m-slider
    .m-slider__arrowLeft
    .m-slider__arrowRight
    .m-slider__slide
      img.m-slider__image(src="images/testimonial__photo.jpg", alt="Сэлфи девушки в спортзале")
      h6.m-slider__title г.Москва
        br
        | Симонова Инна Валерьевна, Мастер Спорта Международного Класса
      small.m-slider__description vk.com/id1789443
      hr
      p.m-slider__text "Приобрела данные часы сравнительно недавно, в тренировке просто незаменимая вещь, и пульс посчитает и километраж и скорость, теперь это мои любимые часики) спасибо большое вам!"
    .m-slider__indicator
  p.l-testimonial__text 
    a(href="#") Здесь
    | Вы можете оставить свой
    span отзыв:
  .m-vkWidget--testimonial
