section.l-video
  .l-video__row
    .l-video__item
      h3.l-video__title Видео-обзор
      p.l-video__subtitle Узнайте больше о возможностях NIKE+ SportWatch 
        abbr(title="Global Positioning System") GPS
    .l-video__player
